body{
    margin: 0;
}

.container{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.black-and-white-effect{
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 60%;
    font-family: 'Roboto', sans-serif;
    font-size: 150px;
    font-weight: 900;
    text-transform: uppercase;
    overflow: hidden;
}
.black-and-white-effect h2{
    margin-left: 300px;
}

.black{
    color: #ffffff;
    background: #000000;
}

.white{
    width: 50%;
    color: #000000;
    background: #ffffff;
}

.header nav li{
    display: flex;
    justify-content: center;
    width: 80vw;
}

.header nav li ul{
    margin: 20px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.header img{
    height: 10vh;
}